.star {
  position: absolute;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  pointer-events: none;
  animation: starEffect 1s forwards;
}

@keyframes starEffect {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px) scale(0.5);
  }
}
